/*******************************/
/********** Hero CSS ***********/
/*******************************/

@media (max-width: 991.98px) {
	.carousel {
		.carousel-text {
			h3 {
				margin-bottom: 5px;
			}
			h1 {
				font-size: 60px;
			}
			p {
				font-size: 16px;
			}
			.btn {
				padding: 12px 30px;
				font-size: 15px;
				letter-spacing: 0;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.carousel {
		.carousel-text {
			h3 {
				font-size: 18px;
				letter-spacing: 2px;
				margin-bottom: 15px;
			}
			h1 {
				font-size: 45px;
			}
			.btn {
				padding: 10px 25px;
				font-size: 15px;
				letter-spacing: 0;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.carousel {
		.carousel-text {
			h3 {
				font-size: 14px;
				letter-spacing: 1px;
				margin-bottom: 10px;
			}
			h1 {
				font-size: 30px;
				margin-bottom: 15px;
			}
			p {
				margin-bottom: 25px;
			}
			.btn {
				padding: 8px 20px;
				font-size: 14px;
				letter-spacing: 0;
			}
		}
	}
}


.carousel {
	// position: absolute;
	width: 100%;
	// height: 1075px !important;
	background: #ffffff;
	margin-bottom: 45px;
	.container-fluid {
		padding: 0;
	}
	.carousel-item {
		position: relative;
		width: 100%;
		min-height: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.carousel-img {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 400px;
		text-align: right;
		overflow: hidden;
		&::after {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, .5);
			z-index: 1;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.carousel-text {
		position: absolute;
		max-width: 992px;
		padding: 0 15px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		z-index: 2;
		h3 {
			color: #E81C2E;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 4px;
			text-transform: uppercase;
			margin-bottom: 0px;
		}
		h1 {
			color: #ffffff;
			font-size: 90px;
			font-weight: 700;
			margin-bottom: 20px;
			text-transform: capitalize;
		}
		p {
			max-width: 500px;
			color: #ffffff;
			font-size: 18px;
			margin-bottom: 40px;
		}
	}
	.btn.btn-custom {
		padding: 20px 45px 22px 45px;
		color: #ffffff;
		&:hover {
			color: #E81C2E;
		}
	}
	.owl-nav {
		position: absolute;
		width: 100%;
		height: 50px;
		top: calc(50% - 25px);
		left: 0;
		display: flex;
		justify-content: space-between;
		z-index: 9;
		.owl-prev {
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff;
			border-radius: 50px;
			background: rgba(256, 256, 256, .2);
			font-size: 22px;
			transition: .5s;
			margin-left: 30px;
			&:hover {
				color: #ffffff;
				background: #E81C2E;
			}
		}
		.owl-next {
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff;
			border-radius: 50px;
			background: rgba(256, 256, 256, .2);
			font-size: 22px;
			transition: .5s;
			margin-right: 30px;
			&:hover {
				color: #ffffff;
				background: #E81C2E;
			}
		}
	}
	.animated {
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
	}
}
